<p id="notice"><%= notice %></p>

<h1>Books</h1>
<hr />
<% if @books.present? %>
<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Create a new book', new_book_path, class: "button alert" %>
<%= link_to 'View report', report_index_path, class: "button success"  %> 
